.divtospread{
  margin-left: 10px;
}
.div{
  display: flex;
}
.usernamediv{
display: flex;
margin-left: 30px;
}
.logoutdiv{
float: right;
}
div.reposelector {
  margin:5px;
  padding:5px;
  width: 93%;
  height: 200px;
  overflow: auto;
  text-align:justify;
}